.sidebar {
    min-height: 100vh;
    border-right: 1px solid #dee2e6;
}



.card a {
    color: #fff;
}

.card a:hover {
    color: #000;
}
.sidebar {
    min-height: 100vh;
    border-left: 1px solid #dee2e6; 
}
.btn-outline-info {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline-info:hover {
    background-color: #17a2b8;
    color: #fff;
}

/* .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
} */

/* .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2) !important;
} */